body {
    background-color: rgba(22, 16, 16, 0.411);
}

.top-container {
    padding: 20 px;
    background-color: rgba(18, 20, 20, 0.918);
}

.img-container {
    flex-basis: 100px;
}

.left-container {
    padding: 5px;
    padding-top: 5px;
    margin-top: 5px;
    width: 900px;
}

.right-container {
    justify-content: center;
    width: 400px;
    align-items: flex-start;
    position: absolute;
    right: 0;
    display: inline-flex;
    flex-direction: column;
    padding-inline: 2px;
}


.skill1 {
  color:rgba(182, 165, 165, 0.411);
  
}

img {
    max-width: 100%;
    height: 100px;
    border: 1px solid darkgrey;
}

#one {
    display: flex;
    justify-content: space-between;
}

#top-section {
    display: flex;
}

h1 {
    color: white;
}

h3 {
    color: aquamarine;
}

a {
    color: aquamarine;
}

#three {
    color: white;
}

.name-title {
    margin-top: -10px;
    margin-left: 10px;
  }

  li {
    list-style: none;
   
  }

.work-summary {
    color: white;
    display: flex;
    width: 900px;
    align-self:auto;
    
    
}

  .employment {
    display: flex;
    background-color: #424242;
    margin-top: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 900px;
    height: 25px;
  }

  .skillbar {
    display: flex;
    background-color: blue;   
    color: white;
    font-weight: bold;
    width: 300px;
    height: 25px;
    margin-top: 1px;
  }

  .skillbar1 {
    display: flex;
    background-color: #3190ad;
    color: white;
    font-weight: bold;
    width: 275px;
    height: 25px;
    margin-top: 1px;
  }

  .skillbar2 {
    display: flex;
    background-color: green;
    color: white;
    font-weight: bold;
    width: 325px;
    height: 25px;
    margin-top: 1px;
  }

  .skillbar3 {
    display: flex;
    background-color: yellow;
    color: white;
    font-weight: bold;
    width: 275px;
    height: 25px;
    margin-top: 1px;
  }

  .skillbar4 {
    display: flex;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 25px;
    margin-top: 1px;
  }

  .box1 {
    margin-top: 5px;
  }

  .box2 {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
  }

  space {
    margin-top: 100px;
  }

  .down-arrow {
    padding: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-right: 5px;
    border-radius: 5px;
    height: auto;
    color: white;
    background-color: #3190ad;
    font-weight: bold;
  }

  .design {
      display: flex;
      margin-top: 0;
      height: 10px;
      width: 10px;
      color: #3190ad;
      background-color: #3190ad;
      justify-content: flex-start;
      
    }

    .design1 {
      display: flex;
      margin-top: 0;
      height: 10px;
      width: 10px;
      color: green;
      background-color: green;
      justify-content: flex-start;

    }
  
  
  .section-title {
    color: white;
    font-weight: bold;
    font-size: 1 em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }
  
  .job-summary {
    display: flex;
    margin-top: 20px;
    align-items: center;
    
    
  }
  
  .right-arrow {
    background-color: #3190ad;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .language {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #3190ad;
    color: #3190ad;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .language1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: green;
    color: green;
    margin-right: 5px;
    margin-bottom: 15px;
  }


  
  .employer {
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    
  }

  #four {
    display: flex;
    justify-content: flex-start;
    gap: 540px;
    
    
  }

  #five {
    display: flex;
    justify-content: flex-start;
    gap: 670px;
    
    
  }

  #six {
    display: flex;
    justify-content: flex-start;
    gap: 560px;
    
  }

  #seven {
    display: flex;
    justify-content: flex-start;
    gap: 550px;
      
  }
  
  .workdates {
    color: rgb(165, 162, 162);
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
  }
  
  .job-title {
    color: rgb(165, 162, 162);
    font-size: 15px;
    margin-top: 0;
  }
  
  .job-description {
    margin-top: 0;
    color: rgb(165, 162, 162);
    width: 900px;
  }
  
  .education {
      background-color: #7EBD01;
  }

  @media (max-width: 1250px) {
    .top-container, .left-container, .right-container {
      flex-direction: column;
      height: 100%;
    }
  }